/* Get rid of white spaces on the side. */

html {
    font-size: 10px;
    margin:0;
}
body{
    margin:0px;
}


.title {
    font-size: 4.4rem;
    text-shadow: blueviolet 5px 4px 10px;
    text-align: center;
}


.container {
    
    background: url(../retrowave.jpg);
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 40px;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(244,244,244);
    color: #333;
}

div {
    font-size: 1.6rem;
    color:white;
    
}



small {
    font-size: 1.2rem;
}

.form {
    display:grid;
}

.label {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
}

.input {
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    line-height: 2.8rem;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}

h1, h3{color:white;}
.button {
    background-color: rgba(0,0,0,0.75);
    color: white;
    padding: 1rem 2rem;
    border: 1px solid rgba(0,0,0,0.75);
    box-shadow: 10px white;
    border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 250ms;
}

.button:hover {
    background-color: rgba(0,0,0,0.85);
}

@media (min-width:2000px){
    .form {
        grid-template-columns: auto 1fr auto;
        grid-gap: 1rem;
        align-items: center;
    }
    
    .input {
        margin-bottom: 0;
    }
}


.card-list { margin-top: 4rem;}

.card {
    background: black;
    padding: 2rem 4rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2rem;
    text-shadow: grey 5px 4px 10px;
    box-shadow: purple 1px 1px 10px;
}
.card--title {
    margin-bottom: .5rem;
}

.card--image {
    margin: 0 auto;
    display: block;
    box-shadow: purple 5px 1px 10px;
}

.appbar {
    width: 100%;
    opacity: 50%;
  
} 

.MuiToolbar-regular {
    min-height: 30px !important;
}